body {
  position: relative;
  padding-left: 180px;
}

#nav-container {
  position: fixed;
  width: 180px;
  margin-left: -170px;
  top: 1em;
  overflow-y: hidden;
  overflow-x: hidden;
  bottom: 0;
  padding-bottom: 0.6em;
}

p {
  margin-bottom: 0.9rem;
}

pre {
  padding: 5px;
  margin-bottom: 1.5em;
  background-color: lightgrey;
}

code {
  padding-left : 1px;
  padding-right: 1px;
  font-size: 0.93em;
}

h2, h3 {
  margin-bottom: 0.4em;
}
h1 {
  font-size: 2.8em;
  margin-bottom: 0.2em;
}
h2 {
  margin-top: 0.5em;
  font-size: 2.25em;
}
h3 {
  font-size: 1.85em;
}
h4 {
  font-size: 1.35em;
  margin-bottom: 0.5em;
}

#main {
  position: relative;
  margin-top: 0.5em;
  margin-bottom: 3em;
}

.badge {
  padding-left: .1em;
  padding-right: .3em;
}

.sidebar-brand {
  font-weight: 400;
  font-size: 1.1em;
  margin-bottom: 0.5em;
  padding: 0 0.1rem;
}

.nav ul {
  list-style: none;
  padding-left: 0;
}

.navbar {
  padding-left: 1.5rem;
}

.nav-item {
  width: 100%;
}

.github-badge {
  height: 1.05em;
  padding-left: 0.3em;
  padding-bottom: 0.18em;
}

.nav-indent {
  margin-left: 0.5em;
  margin-right: 0
}

.nav-link {
  width: 100%;
}

.nav-link > * {
  white-space: nowrap;
}

.nav-link-2 {
  margin-left: 0.5em;
}

.closed {
  display: none;
  visibility: hidden;
}
.closed > .nav-link {
  display: none;
  visibility: hidden;
}
