body {
  position: relative;
  padding-left: 140px;
}

#nav-container {
  position: fixed;
  width: 140px;
  margin-left: -140px;
  top: 0.6em;
}

pre {
  padding: 5px;
  margin-bottom: 1.5em;
  background-color: lightgrey;
}

code {
  padding-left : 1px;
  padding-right: 1px;
  font-size: 0.93em;
}

h1, h2, h3 {
  margin-bottom: 0.4em;
}
h2 {
  font-size: 2.2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  margin-bottom: 0.5em;
}

#main {
  margin-top: 0.5em;
  margin-bottom: 5em;
}

.badge {
  padding-left: .1em;
  padding-right: .3em;
}

.sidebar-brand {
  font-weight: 400;
  font-size: 1.1em;
  margin-bottom: 0.5em;
  padding: 0 0.1rem;
}

.navbar {
  padding-left: 1.5rem;
}

.nav-item {
  width: 100%;
}

.github-badge {
  height: 1.05em;
  padding-left: 0.3em;
  padding-bottom: 0.18em;
}
