body {
  position: relative;
  padding-left: 150px;
}

#nav-container {
  position: fixed;
  width: 150px;
  margin-left: -150px;
}

pre {
  padding: 5px;
  margin-bottom: 1.5em;
  background-color: lightgrey;
}

code {
  padding-left: 2px;
  padding-right: 2px;
}

h1, h2, h3 {
  margin-bottom: 0.4em;
}

h4 {
  margin-bottom: 0.5em;
}

#main {
  margin-bottom: 5em;
}

.scrollspy-example {
  position: relative;
  height: 100%;
  overflow-y: scroll;
}

#list-example {
  margin-top: 1em;
}
#list-example > div {
  position: fixed;
}
